body {
    margin-top: 0px;
}


.tou {
    background: url("../images/topBG.jpg") ;
    width: 950px;
    height: 46px;
    margin: 0 auto;
    border-bottom: 3px solid #ecf7f1;
}
.tu {
    background: url("../images/topLogo_chsi.png") ;
    width: 245px;
    height: 46px;
    position: relative;
    left: 20px;
}
.atou {
    width: 200px;
    position: relative;
    left: 900px;
    top: -33px;
}

.atou a,.atou span{
    font-size: 13px;
    color: white;
    margin-right: 10px;
}
a:link{
    text-decoration: none;
}

.atou a:hover{
    color: yellow;
    text-decoration: underline;
}
.regleft1{
    width: 1275px;
    margin: 0 auto;
}
.regleftBG {
    float: left;
    display: inline;
    background: #f1f8f5;
    padding: 3px;
    width: 150px;
    height: 300px;
    position: relative;
    left: 160px;
    top: -10px;
}
.zuo {
    background-color: #f1f8f5;
    border: 1px solid #D8DFEA;
    width: 150px;
    height: 300px;
}
.shiming{
    position: relative;
    top: 24px;
    left: 40px;
    margin-bottom: 10px;
}
.zhuche {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.shiming a{
    font-size: 12px;
    color: black;
}
.shiming a:hover {
    color: #4C8A53;
    text-decoration: underline;
}
.regleftBG2{
    float: left;
    display: inline;
    background: #f1f8f5;
    padding: 3px;
    width: 768px;
    height: 300px;
    position: relative;
    left: 175px;
    top: -10px;
}
.zhong{
    width: 768px;
    height: 300px;
    background-color: white;
    border: 1px solid #D8DFEA;
}

.tu2{
    width: 12px;
    height: 14px;
    background: url("../images/icon_all.gif");
    position: relative;
    left: 25px;
    top: 40px;
}

.zhongsang {
    width: 700px;
    height: 30px;
    border-bottom: 1px solid rgb(190, 213, 195);
    position: relative;
    left: 30px;
    top: 13px;
    font-size: 12px;
    color: rgb(77, 87, 81);
}
.zhongjian {
    position: relative;
    top: 35px;
    left: 130px;
}

.yonghuming {
    font-size: 13px;
}
.xin {
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}
.password {
    position: relative;
    left: 60px;
    top: 0;
}
.xingming {
    position: relative;
    left: 35px;
    top: 15px;
}
.yanzheng{
    position: relative;
    left: 13px;
    top: 30px;
}
.input {
    border: 1px solid #9bd0a3;
}
.sapn {
    color: #0054a6;
    font-size: 13px;
    margin-left: 20px;
}
.wpassword{
    position: relative;
    left: 90px;
    top: 50px;
    font-size: 13px;
    color: #459e00;

}

.wpassword:hover{
    color:#327e04;
    text-decoration:underline;
}
.sumbit {
    position: relative;
    left: 222px;
    top: 100px;
    border: 1px solid #327e04;
    background-color: #459e00;
    width: 66px;
    height: 30px;
    color: white;
    cursor: pointer;
}
.sumbit:hover{
    background-color:#67b021;
}
.wangyedi{
    color: #666;
    position: relative;
    right: 436px;
    top: 311px;
    font-size: 12px;
}

.diclass {
    margin-left: 20px;
    margin-right: 20px;
    color: #666;
}
.diclass:hover {
    text-decoration:underline;
}

.error {
    color: red;
}

.captchBlock{
    position: absolute;
    top: -125px;
    left: 61px;
    background-color: #CCC;
    width: 202px;
    text-align: center;
    height: 125px;
}
.captchBlock div {
    color: #1D1B1B;
    padding-left: 40px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 0px;
    position: absolute;
    top: 101px;
    left: 20px;

}
.captchBlock img {
    width: 200px;
    height: 100px;
    background: white;
    border: 1px solid #CCC;
    cursor: pointer;
}
.x{
    position: absolute;
    top: -15px;
    left: 200px;
    font-size: 30px;
    cursor: pointer;
}

.error, .errorMessage {
    color: #C00;
}